<div class="row">
  <div class="col-xs-12">
    <h3>Game Control</h3>
    <div class="btn-toolbar" style="margin-bottom: 0.75em;">
      <button class="btn btn-success"
        (click)="onStartGame()">Start</button>
      <button class="btn btn-danger"
        (click)="onPauseGame()">Pause</button>
    </div>
  </div>
</div>
